.pad-section1 {
    padding: 12px 4rem 12px 17rem;
    position: relative;
    z-index: 9;
    background-color: #fff;
}

select {
    border: 0px;
}

.head-logo {
    position: absolute;
    left: 4rem;
    top: 0rem;
}

.triangle {
    position: absolute;
    bottom: -14px;
    left: 0px;
    right: 0px;
    margin: auto;

}